body {
  background: #18181a;
  font-family: 'Segoe UI', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  background: #23232b;
  border-radius: 20px;
  box-shadow: 0 2px 16px #1113;
  padding: 2rem 3rem;
  width: 320px;
}
h1, label {
  color: #e1e1e6;
}
input {
  width: 100%;
  padding: .7rem;
  background: #23232b;
  border: 1px solid #555;
  border-radius: 8px;
  margin-bottom: 1rem;
  color: #e1e1e6;
}
button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg,#01f2c1 40%,#0a9cfb 100%);
  color: #18181a;
  font-weight: bold;
  margin-bottom: 1rem;
}
.switch {
  color: #01f2c1;
  text-decoration: underline;
  font-size: 0.95rem;
  display: block;
  text-align: center;
}
